@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Arial", sans-serif;
  background-color: #212845;
}

section {
  text-align: center;
}

.game--container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 306px;
  margin: 50px auto;
}

.hidden{
  display: none;
}

.red{
  color: red;
}

.cell {
  font-family: "Permanent Marker", cursive;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 1px #333333;
  border: 1px solid #333333;
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
}

.far,.fas{
  color: #f8d320;
}

.game-title{
  color: white;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.game-score, .final-score{
  margin-top: 2rem;
  font-size: 1.75rem;
  color: white;
  font-family: Verdana, sans-serif;
  font-weight: bold;
}

.finalscore-title{
  color: white;
  margin-top: 2rem;
  font-size: 1.35rem;
  font-family: Verdana, sans-serif;
  font-weight: bold;
}

.winnercake{
  margin-top: 5rem;
  font-size: 13.5rem;
}

.winnericon{
  font-size: 2rem;
}

.mode-question, .maxscore-question, .maxscore-winner{
  color: white;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  padding: 1rem;
  border-bottom: 3px #226ffe solid;
}

.game-status{
  border-top: 3px #226ffe solid;
  max-width: 100%;
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: bold;
  color: white;
}

span{
  color: #226ffe;
}

.mode-button button, .maxscore-buttons{
  background-color: #f8d320;
  width: 10rem;
  padding: 1rem;
  border-radius: 0.1rem;
  border: none;
  font-size: 1.5rem;
  font-weight: 800;
  color: #212845;
  cursor: pointer;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.playagain-button{
  background-color: #f8d320;
  padding: 1rem;
  border-radius: 0.1rem;
  border: none;
  font-size: 1.43rem;
  font-weight: 800;
  color: #212845;
  cursor: pointer;
  margin-top: 4.5rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.reset-button{
  background-color: #f8d320;
  padding: 1rem;
  border-radius: 0.1rem;
  border: none;
  font-size: 1.9rem;
  font-weight: 800;
  color: #212845;
  cursor: pointer;
  margin-top: 0.5rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.pick-mode-button{
  background-color: #f8d320;
  padding: 0.7rem;
  border-radius: 0.1rem;
  border: none;
  font-size: 0.9rem;
  font-weight: 800;
  color: #212845;
  cursor: pointer;
  margin-top: 0.5rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.fa-birthday-cake{
  color: #f8d320;
}

html, body {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}
  
header {
  margin-left: -30px;
  color: white;
}
  
.column {
  float: left;
}

.board {
  width: 400px;
  height: 400px;
  margin: 300 auto;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.field {
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.field-5{
  border: 2px solid #ffffff;
}

.field-2{
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}

.field-8{
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}

.field-4{
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.field-6{
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

@media(min-width: 1200px) and (max-width: 1600px){
  .game-title{
    font-size: 1.8rem;
  }
  .board{
    width: 340px;
    height: 340px;
  }
  .reset-button{
    font-size: 1.4rem;
    margin-top: 0.2rem;
  }
}

@media(max-width:400px){
  .game-title{
    font-size: 1.4rem;
  }
  .game-status{
    font-size: 1.1rem;
    margin-top: 0.2rem;
  }
  .board{
    width: 280px;
    height: 280px;
  }
  .reset-button{
    margin-top: 0.3rem;
    font-size: 1.4rem;
  }
  .pick-mode-button{
    font-size: 0.7rem;
  }
  .field{
    font-size: 2.6rem;
  }
  .winnercake{
    font-size: 9rem;
  }
  .finalscore-title{
    font-size: 1.3rem;
  }
  .maxscore-winner{
    font-size: 1.3rem;
  }
  .winnericon{
    font-size: 1.5rem;
  }
  .maxscore-buttons{
    font-size: 1.5rem;
    width: 7rem;
  }
}
  
.darkmode i{
  color: white;
  font-size: 2rem;
}
  
  
